In [1]:
# 2.15 Exercises

In [2]:
# Exercise 2
name = input('Enter your name ') # It is pausing for user input
print('Hello', name)

Enter your name Dorothy
Hello Dorothy

In [4]:
# Exercise 3
# We are turning a str into a float here
hours = float (input ('Hours Worked'))
rate = float (input ('Rate of Pay'))
pay = int (hours * rate)
print(pay)

Hours Worked35
Rate of Pay7.20
252

In [5]:
# Exercise 4
width = 17
height = 12.0

In [7]:
width//2

8

In [8]:
width/2.0

8.5

In [9]:
height / 3

4.0

In [10]:
1+2*5

11

In [13]:
# Exercise 5
celsius = float(input ('Please enter your temperature in C'))
fahren = (celsius * 9/5) + 32
print(fahren)

Please enter your temperature in C12
53.6